In [1]:
import os
os.getcwd()

'C:\\Users\\장민지\\Desktop\\빅데이터\\온라인강의\\처음하는 데이터분석, python으로 따라하기'

In [3]:
import pandas as pd
bike_data = pd.read_csv('data/bike_usage_0.csv', encoding='ANSI')

In [4]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36595 entries, 0 to 36594
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date_out         36595 non-null  object
 1   Time_out         36595 non-null  int64
 2   Station_no_out   36595 non-null  int64
 3   Station_out      36595 non-null  object
 4   Membership_type  36595 non-null  object
 5   Gender           18262 non-null  object
 6   Age_Group        36595 non-null  object
 7   Momentum         36595 non-null  object
 8   Station_no_in    36595 non-null  int64
 9   Station_in       36595 non-null  object
 10  Date_in          36595 non-null  object
 11  Bike_no          36595 non-null  object
 12  Carbon_amount    36595 non-null  object
 13  Distance         36595 non-null  int64
 14  Duration         36595 non-null  int64
dtypes: int64(5), object(10)
memory usage: 4.2+ MB

In [5]:
bike_data

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
0,2019-10-03,0,129,129. 신촌역(2호선) 6번출구 옆,정기권,NaN,~10대,28.27,122,신성기사식당 앞,2019-10-03 오전 12:20:42,SPB-15000,0.24,1050,5
1,2019-10-03,0,150,150. 서강대역 2번출구 앞,정기권,NaN,20대,146.46,2065,서울시여성가족재단,2019-10-03 오전 1:16:32,SPB-13087,1.32,5690,32
2,2019-10-03,0,240,240. 문래역 4번출구 앞,정기권,NaN,20대,37.13,245,삼성생명 당산사옥 앞,2019-10-03 오전 12:18:21,SPB-23229,0.29,1250,10
3,2019-10-03,0,623,623. 서울시립대 정문 앞,정기권,NaN,20대,134.62,1346,길음8골어린이공원 옆,2019-10-03 오전 1:15:39,SPB-14181,1.21,5230,24
4,2019-10-03,0,633,633. 청량리 기업은행 앞,정기권,NaN,20대,85.83,568,청계8가사거리 부근,2019-10-03 오전 12:17:58,SPB-15221,0.67,2890,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36590,2019-10-05,23,130,130. 신촌역(2호선) 7번출구 앞,일일권,M,30대,110.06,432,마포중앙도서관,2019-10-06 오전 12:06:20,SPB-14263,0.9,3860,23
36591,2019-10-05,23,2215,2215. 반포종합운동장 입구,일일권,M,30대,153.15,2221,하나은행 방배동지점 앞,2019-10-06 오전 12:27:55,SPB-17557,1.38,5950,32
36592,2019-10-05,23,654,654. 전농동 텃골공원,일일권,M,40대,65.12,654,전농동 텃골공원,2019-10-06 오전 12:09:12,SPB-18226,0.59,2530,17
36593,2019-10-05,23,119,119. 서강나루 공원,일일권,M,40대,78.76,3102,연희삼거리,2019-10-05 오후 11:44:39,SPB-21624,0.71,3060,17
36594,2019-10-05,23,630,630. 동대문구 보건소,단체권,NaN,20대,22.83,660,동의보감타워,2019-10-05 오후 11:27:13,SPB-02538,0.14,620,5

In [6]:
stations = pd.read_csv('data/stations.csv')

In [7]:
stations

,Gu,ID,Station,Address,Latitude,Longitude,Date,No_of_Racks
0,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40,5
1,마포구,102,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42,20
2,마포구,103,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43,14
3,마포구,104,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44,13
4,마포구,105,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45,5
...,...,...,...,...,...,...,...,...
366,서초구,2510,JW타워,서초구 서초동 1748-45,37.483040,127.021461,2019.03.26,8
367,서초구,2511,이수역 6번출구 앞,서초구 방배동 438-35,37.483662,126.982323,2019.03.14,20
368,은평구,972,수색역,수색로 261,37.582180,126.894943,2019.06.14,20
369,마포구,440,하늘공원 입구,마포구 하늘공원로 108-2,37.570006,126.881149,2019.08.02,15
370,서초구,2265,2265. 이수고가차도 남단,서울특별시 서초구 동작대로 204 청남빌딩,37.494743,126.983063,2017-08-09 11:16,10

In [10]:
bike_data2 = pd.merge(bike_data,stations,left_on='Station_no_out', right_on='ID')

In [12]:
bike_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36595 entries, 0 to 36594
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date_out         36595 non-null  object
 1   Time_out         36595 non-null  int64
 2   Station_no_out   36595 non-null  int64
 3   Station_out      36595 non-null  object
 4   Membership_type  36595 non-null  object
 5   Gender           18262 non-null  object
 6   Age_Group        36595 non-null  object
 7   Momentum         36595 non-null  object
 8   Station_no_in    36595 non-null  int64
 9   Station_in       36595 non-null  object
 10  Date_in          36595 non-null  object
 11  Bike_no          36595 non-null  object
 12  Carbon_amount    36595 non-null  object
 13  Distance         36595 non-null  int64
 14  Duration         36595 non-null  int64
 15  Gu               36595 non-null  object
 16  ID               36595 non-null  int64
 17  Station          36595 non-null  object
 18  Address          36595 non-null  object
 19  Latitude         36595 non-null  float64
 20  Longitude        36595 non-null  float64
 21  Date             36595 non-null  object
 22  No_of_Racks      36595 non-null  int64
dtypes: float64(2), int64(7), object(14)
memory usage: 6.7+ MB